<!-- profile-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
