
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="file:///Macintosh HD/Users/acole9/Documents/Penn2014/assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css"%>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "jumbotron.css"%>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id = "homepage">
	<div class="web-container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- this link doesn't work-->
          <a class="navbar-brand" href="index.html.erb"><%= image_tag "logo.jpg", height: '50'%></a>
        </div>
        <div class="navbar-collapse collapse">
        <a href="signin.html">
        <div class="sign-up">
          	<p>Sign Up</p>
          </div>
          </a>
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          
        </div><!--/.navbar-collapse -->
        
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="petinfo-container">
            <div class="petinfo">
                <p class="pinfo-name"> Boolean </p>
                <p class="rating above"> %65.7 </p>
                <p> This is a dog's bio. It is short and simple. </p>
                <p> #dog, #meowzer, #cute, #puppy, #love</p>
            </div>
        </div>
    <div class="jumbotron">
    	
      	<div class="pawclawbuttons">
        	<div id="pawbutton">
            	<button type="submit" id="paw"><%= image_tag "paw.png"%></button>
            </div> 
            
            <div id="clawbutton">
            	<button type="submit" id="claw"><%= image_tag "paw.png"%></button>
            </div> 
            <div id="welcome">
                	<h1>Welcome to Paw or Claw!</h1>
                    <p>Click PAW to upvote or CLAW to downvote</p>
            </div>
       </div>     
    </div>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> 
    </div><!-- /container -->
<!--	<div class="bottom">
        <div class="full-breadcrumb">
            <div class="breadcrumb">
                <p>About Us</p>
            </div>
            <div class="breadcrumb">
                <p>About Paw or Claw</p>
            </div>
     	</div>
     <div class="socialMedia">
        	<p>FB</p>
            <p>TW</p>
            <p>GM</p>   
     </div>
    </div>-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
